{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>
        Welcome to Lab 4&5, Docker intro!
        <br/>
        <br/>
        Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}! <br/>
        {% if email %}
            {% if valid_email %}
                Your UofT email is {{ email }}
            {% else %}
                Please use your UofT email.
            {% endif %}
        {% else %}
        {% endif %}
    </h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}